body{background:#EDF0F4;font-size:12px;margin:0;text-align:center;}
#mainbody { min-width:1000px;width:auto !important;width:100%;}
body#login{background:#fff;}
td p{color:#000000;font-size:12px;}
a{color:#003399;font-size:12px;text-decoration:none;}
a:hover{color:#FF6633;text-decoration:underline;}
h2,h3{font-size:12px;margin:0;padding:0;}

.lf{float:left;padding:10px;text-align:left;width:19%;}
.rf{float:right;padding:10px;width:77%;}

#header{background-color:#fff;width:100%;}
#header .lf{padding:0 5px;}
#header .rf{text-align:right;margin:5px 10px;width:40%;}

#toppad{background-color:#c1c1c1;height:5px;clear:both;}
#footer{margin-top:20px;color:#666;clear:both;border-top:3px solid #c1c1c1;}
	#footer #links{text-align:center;margin-top:5px;}
	#footer #links a{color:#666;margin:0 5px;}
	#footer #copyright{text-align:center;margin-top:5px;}
	#footer #copyright a{color:#666;}
div.leftmenu{background-color:#fff;border:1px solid #c4c4c4;padding:5px;}

#container{background-color:#fff;border:1px solid #c4c4c4;padding:5px;text-align:left;}
#container h2{border-bottom:1px solid #c4c4c4;font-size:18px;font-weight:bold;margin:10px 0 0 0;padding:0;}
#container h3{font-size:14px;font-weight:bold;margin:10px 0 0 0;padding:0;}
#container h4{font-size:14px;font-weight:bold;margin:10px 0 5px 0;padding:6px; background: #DDD;}

#searchblock{background-color:#eee;border:1px solid #c4c4c4;margin-top:10px;padding:5px;}

table.datalist{border-collapse:collapse;padding:0;word-break:break-all;}
table.datalist th{background-color:#e5e5e5;border-bottom:1px solid #c4c4c4;font-weight:bold;padding:6px 5px;text-align:left;}
table.datalist td{border-bottom:1px solid #c4c4c4;padding:4px 5px;}
table.userinfo td{border-bottom:1px solid #fff;padding:3px 5px;}
table.userinfo tr{background-color:#EFEFEF;margin-bottom:2px;}
tr.gray {background: #EEE;}

table.submitblock{line-height:auto;margin-top:10px;padding:0;}
table.submitblock td{padding:7px 2px;}

table.form1{line-height:auto;margin-top:10px;padding:0;}
table.form1 td{padding:2px 2px;}
	
#container div.commonblock{border:1px solid #c4c4c4;margin-top:10px;padding:5px;}
	#container div.commonblock_nobd{margin-top:10px;padding:5px;}
	
.succbox{background-color:#ccffcc;border:1px solid #33cc66;font-size:12px;margin-top:10px;padding:5px 10px;text-align:left;}
.warnbox{background-color:#FEFFBF;border:1px solid #FFDC9F;font-size:12px;margin-top:10px;padding:5px 10px;text-align:left;}
.failbox{background-color:#ffcccc;border:1px solid #da260f;font-size:12px;margin-top:10px;padding:5px 10px;text-align:left;}

.mt10{margin-top:10px;}
.mb20{margin-bottom:20px;}

#action{margin:15px 0 5px;}
#footer{margin-top:20px;text-align:center;}

div#tips{margin-top:10px;}

ul.menu, ul.menu ul{list-style-type:none;margin:0;padding:0;}
	ul.menu a{_height:15px;display:block;text-decoration:none;}
	ul.menu li{margin-top:1px;}
	ul.menu li a{background:#aaa;color:#fff;padding:0.5em;}
	ul.menu li a:hover{background:#696969;color:#fff;}
	ul.menu li ul li a{background:#fff;color:#000;padding-left:20px;}
	ul.menu li ul li a:hover{background:#ccc;color:#000;}
	
.code{border:1px solid #ccc;list-style-type:decimal-leading-zero;margin:0;padding:5px;}
	.code code{display:block;margin-bottom:0;padding:3px;}
	.code li{background:#ddd;border:1px solid #ccc;margin:0 0 2px 2.2em;}
	
.indent1{padding-left:1em;}
.indent2{padding-left:2em;}
.indent3{padding-left:3em;}
.indent4{padding-left:4em;}
.indent5{padding-left:5em;}

ul.notify{list-style:square;margin:10px 30px;padding:0;}
	ul.notify li{margin-top:5px;}
	ul.notify li .date{color:#c3c3c3;font-size:12px;margin-left:7px;}
	ul.notify li .newsign{color:#f30;font-weight:bold;margin-left:5px;}
	ul.notify li.hl a{color:#c30;}
	
#content p{margin-bottom:5px;}
#addinfo{text-align:right;}
.errortips{color:#f30;margin-left:10px;}

.pagenav{margin:5px auto 10px;text-align:center;}
	.pagenav span{border:0;margin-left:7px;}
	.pagenav a{text-decoration:none;}
	.pagenav a:hover{text-decoration:none;}
	.pagenav span.cur{font-weight:bold;margin-left:7px;}
	.pagenav a span.cur{font-weight:normal;}
	.pagenav span.disable{color:#999;margin-left:7px;}

body#login #header{width:760px;margin:auto;}
body#login #header #toppad{height:0;background-color:#fff;clear:both;}

#username,h1{font-size:16px; font-weight:bold;margin-right:8px;}

#username a,h1 a{font-size:16px;}
.extra{font-size:12px; color:#666;}
.controlbar{margin:10px 0 0 0;text-align:center;}
.controlbar input{padding:0 5px;margin-right:10px;}
.controlbar input#approveall{margin-left:100px;}

.searchform{width:50%;padding:10px;margin:10px;line-height:150%;}
.searchform .row{padding:5px 0;}
.searchform label{width:130px;text-align:right;position: absolute; font-weight: 700; }
.searchform input ,.searchform select{margin-left:150px;}

dl dt{font-weight:bold;}

h4{padding:10px 0;font-size:14px;font-weight:bold;}
.status_normal{color:green;margin-left:5px;}
.status_deac{color:red;margin-left:5px;}

#container p { margin-bottom:10px;}

.search_area { padding: 10px 5px; border-bottom: 1px #999 solid; margin-bottom: 15px;}

.tips_area {padding: 5px 0;}


/*------------------------groups apple----------------------------------------------*/
a img { border:none;}
.min-height80 {height: 105px;}
.red { color:red;}
.green { color:#009933;}
.orange {color:#FF9900}
.ar_box_top { background: #f5f5f5 url(../images/bg.png) no-repeat left top; padding-top:8px;}
.ar_box_content {border:1px solid #d4d4d4; padding:5px 8px; border-top: none; background: #f5f5f5; margin-bottom:10px;}

.group_approve , .group_eject{ display:block; margin:1px 0 10px 15px; width:180px; clear:both; }
.group_eject { width: 300px;}
.group_eject textarea { width: 250px; font-size: 12px; *margin-top:3px;}
.group_eject ul li { list-style:none; margin-bottom:8px;}

.success {padding:5px 15px 5px 30px;border:1px solid #ddd; position:relative;color:#264409;border-color:#C6D880; background:#e8f5d9 url(../images/ok.gif) no-repeat 0 -3px; margin:15px 0;}
.error {padding:5px 15px 5px 30px;margin-bottom:.833em;border:1px solid #ddd; position:relative;color:#8a1f11;border-color:#FBC2C4; margin: 15px 0; background: #ffe7e7 url(../images/err.png) no-repeat 5px 3px;}
