@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin:0;
padding:0;
}

table {
border-collapse:collapse;
border-spacing:0;
}

fieldset, img {
border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
font-style:normal;
font-weight:normal;
}
li {
list-style:none;
}
caption, th {
text-align:left;
}
h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:normal;
}

q:before, q:after {
content:'';
}
abbr, acronym {
border:0;
font-variant:normal;
}

sup {
vertical-align:text-top;
}
sub {
vertical-align:text-bottom;
}
input, textarea, select {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}
i{font-style:normal}

input, textarea, select {
*font-size:100%;
}


legend {
color:#000;
}


body{font-family: "Droid Sans Fallback";font-size:16px;}



/*commonset*/
.pd-top{padding-top:5px!important;}
.pd-top10{padding-top:10px!important;}
.pd-left{padding-left:5px!important;}
.pd-left10{padding-left:10px!important;}
.font18px{font-size:18px!important;}
.font16px{font-size:18px!important;}
.font14px{font-size:16px!important;}
.font12px{font-size:14px!important;}
.lightcolor{color:#888!important;}
.quiet{color:#333!important;}
.loud{color:#000!important;}
.red{color:#f00!important;}
.color06a{color:#06a!important;}
.colorf00{color:#f00!important;}
.quiet666{color:#666!important;}
.lightest{color:#c8c8c8!important;}
.mobilenormal{font-weight:normal!important }
.boldface{font-weight:bold!important}
.a-center{text-align:center;}
.a-left{text-align:left;}
.a-right{text-align:right;}
.redmobile{color:#f00!important;}
.ret_top{position:relative;right:3px;bottom:0;  background:url(../images/ret_top.png) no-repeat left top; width:22px; height:70px; display:inline-block;}

.changeColor a,.changeColor i{color:#06a!important; font-weight:bold!important; font-style:normal!important;}
.changeColor .fontgray{ color:#aaa}
.ushi-loading{background:url(../images/loading.gif) no-repeat right 7px; padding-right:20px; display:inline-block;}

a{ text-decoration:none; outline:none;}
.header{position:relative;}
.header a,.header span{display:inline-block; float:left}
.header .l{float:left;}
.header .r{float:right}
.header .c{overflow:hidden;zoom:1;text-align:center;line-height:45px; font-weight:normal; font-size:18px;text-shadow:1px 1px 0 #000; }

/*.contenter{padding-top:47px;}*/

/*ͷ��������һЩ��ť*/
a.back{ background:url(../images/back.jpg) no-repeat left top;width:21px; height:23px; margin:12px 10px 0 10px}
a.back:active {background-image:url(../images/back_hover.jpg);}

.break{background:url(../images/break.png) no-repeat left top; width:2px; height:43px;}
.home{background:url(../images/home.jpg) no-repeat left top; width:22px; height:20px; margin:13px 0 0 10px}
.reflash{background:url(../images/bg_reflash_top.jpg) no-repeat left top; width:24px; height:18px; margin:14px 10px 0 10px}
.loginout{background:url(../images/loginout.png) no-repeat left top; width:23px; height:21px; margin:10px 10px 0 10px}
.ui-header a.publish{
	border: 5px solid #fff;
	-webkit-border-image: url(../images/publish.png) 5 round stretch;
	-o-border-image: url(../images/publish.png) 5 round stretch;
	-moz-border-image: url(../images/publish.png) fill 5 round stretch;
	color:#000;
	display:block; 
	text-align:center;
	font-size:14px;
	margin:6px 10px 0 0;
	font-weight:bold;
	text-shadow:1px 1px 0 #fff;
	height:20px;
	line-height:18px;
	padding:0 5px;
}


/*����*/
input{outline:none}
.shareIptKK{padding-bottom:1px;border-bottom:1px #bac6d9 solid; margin-bottom:5px;overflow:hidden;}
.shareIpt{background:#d4e0f2;padding:10px 10px 0 10px; position:relative;}

/*vard����*/
.border-bottom{background:url(../images/bg_border_bottom.jpg) repeat-x left bottom;}
.vard{ padding:10px;}
.vard .l{float:left;}
.vard .l img{ border:1px #d3d3d3 solid;}
.vard .r{float:right;}
.vard .c{overflow:hidden;padding:0 8px 0 8px; font-size:14px;  color:#555; line-height:20px;}
.vard .c a{color:#333;font-size:16px;}
.vard .c a.font12px{ font-size:14px; margin-right:15px;}
.vard .c span,.vard .c .na{ display:inline-block;}
.vard .c .zw{}
.vard .c .na{font-size:16px;text-shadow:1px 1px 0 #fff;}


.vard li{padding:10px 0;clear:both;overflow:hidden}
.vard li .c .na{ font-size:16px; color:#06a; margin-right:5px;}
.vard li .c .nas{font-size:14px;}
.v-40 .l {width:40px; height:40px; color:#4e4e4e}
.v-40 .l img {width:30px; height:30px;}
.v-50 .l {width:45px; height:45px; color:#4e4e4e}
.v-50 .l img {width:40px; height:40px;}
.vard li p{text-shadow:0 1px 0 #fff; }

.vard li p.ct{word-wrap:break-word;}
.vard li p.cb{padding-top:2px;}
.vard li p.cb span{color:#a8a8a8;margin-right:5px;}
.vard li p.cb a{font-size:14px; font-weight:normal}

.vard-out {
	padding:0;
}
.vard-out > li {
	padding:10px;	
}


/*�������*/
.add_commend{background:url(../images/ico_add_commend.png) repeat-x left top; width:23px; height:18px; float:right;}


/*footer*/
.ui-page .footer{background:url(../images/bg_footer.jpg) repeat-x left top; height:42px; width:100%; border:0;}
.footer ul{ height:42px; overflow:hidden;padding:0 5px;}
.footer ul li{ float:left;line-height:28px;margin-top:8px; text-align:center}
.footer ul li a.ui-link{ color:#fff; font-size:14px;text-shadow:1px 1px 0 #000; display:block; padding:0 8px;}
.footer ul li.current{margin-right:0;}
.footer ul li.current a{
	color:#25417a;
	-webkit-border-image: url(../images/bg_current_footer.png) 0 5 0 5 stretch stretch;
	-moz-border-image: url(../images/bg_current_footer.png) 0 5 0 5 stretch stretch;
	-o-border-image: url(../images/bg_current_footer.png) 0 5 0 5 stretch stretch;
	border-width: 0 5px;
	height:28px;
	text-shadow:none;
}
.footer ul.part3 li{width:33%} 
.footer ul.part4 li{width:25%}

/* profile footer */
.ui-page .footer-profile {background:url(../images/bg_footer_profile.png) repeat-x left top; height:38px; width:100%; border:0;}
.footer-profile ul {height:37px; padding-top:1px; overflow:hidden;}
.footer-profile li {background:url(../images/bg_footer_profile_li.png) no-repeat right top; float:left; padding:5px 10px 4px 10px;}
.footer-profile li.r {background:none; float:right; height:28px; line-height:28px;}
.footer-profile li.r a {color:#4d71ac; text-shadow:1px 1px 0 #fff;}
.footer-profile .send-msg, .footer-profile .add-1d, .footer-profile .add-follow,.footer-profile .add-follow-disable,.footer-profile .add-1d-disable {background:url(../images/ico_profile_act.png) no-repeat; width:30px; height:28px; display:inline-block; text-indent:-9999px;}
.footer-profile .add-follow {background-position:left -2px;}
.footer-profile .send-msg {background-position:left -32px;}
.footer-profile .add-1d {background-position:left -62px;}
.footer-profile .add-1d-disable {background-position:left -90px;}
.footer-profile .add-follow-disable {background-position:left -120px;}



.ui-page .footer-msg{background:url(../images/bg_footer.jpg) repeat-x left top; height:42px; width:100%; border:0;}
.ui-page .footer-null{background:#FFF;border:0;}

/*sar-bar*/
.sel_bar{
    margin:0 10px;
}
.sel_bar a{
	display:inline-block; 
	text-align:center;
	height:30px;
}
.sel_bar2 a{
	width:50%;
}
.sel_bar3 a{
	width:33.3%;
}
.sel_bar4 a{
	width:24.5%;
}
.sel_bar a span{
	display:block;
	color:#333;
	font-size:14px;
	font-weight:bold;
	height:20px;
	line-height: 20px;
	text-shadow:2px 2px 0 #eee;
	border:5px solid #fff;
	-webkit-border-image: url(../images/sel-bar-c.png) 5 round stretch;
	-o-border-image:url(../images/sel-bar-c.png) 5 round stretch;
	-moz-border-image: url(../images/sel-bar-c.png) fill 5 round stretch;
}
.sel_bar a span.l{
	border:5px solid #fff;
	-webkit-border-image: url(../images/sel-bar-l.png) 5 round stretch;
	-o-border-image: url(../images/sel-bar-l.png) 5 round stretch;
	-moz-border-image: url(../images/sel-bar-l.png) fill 5 round stretch;
}
.sel_bar a span.r{ 
	border:5px solid #fff;
	-webkit-border-image: url(../images/sel-bar-r.png) 5 round stretch;
	-o-border-image: url(../images/sel-bar-r.png) 5 round stretch;
	-moz-border-image: url(../images/sel-bar-r.png) fill 5 round stretch;
}
.sel_bar a.current span{  	 
    color:white;
    text-shadow:1px 1px 0 #4b6c9e;
	border:5px solid #fff;
	-webkit-border-image: url(../images/sel-bar-c-current.png) 5 round stretch;
	-o-border-image: url(../images/sel-bar-c-current.png) 5 round stretch;
	-moz-border-image: url(../images/sel-bar-c-current.png) fill 5 round stretch;
}
.sel_bar a.current span.l{
	border:5px solid #fff;
	-webkit-border-image: url(../images/sel-bar-l-current.png) 5 round stretch;
	-o-border-image: url(../images/sel-bar-l-current.png) 5 round stretch;
	-moz-border-image: url(../images/sel-bar-l-current.png) fill 5 round stretch;
}
.sel_bar a.current span.r{
	border:5px solid #fff;
	-webkit-border-image: url(../images/sel-bar-r-current.png) 5 round stretch;
	-o-border-image: url(../images/sel-bar-r-current.png) 5 round stretch;
	-moz-border-image: url(../images/sel-bar-r-current.png) fill 5 round stretch;
	margin-left:-1px;
	position:relative;
}
.ico-arrow-r {background:url(../images/ico_arrow_r.png) no-repeat 0 0; width:7px; height:13px; display:inline-block; vertical-align:middle; margin:0 0 1px 3px;}
.sel_bar a.current span .ico-arrow-r {background-position:0 -13px;}


.common-block{ color:#333; font-size:14px;}
.common-block h5{padding:0 10px;font-size:16px;}
.common-block h5{background:url(../images/bg_tit.jpg) repeat-x left top; height:29px; line-height:29px; margin-top:10px; font-size:14px; text-shadow:1px 1px 0 #f4f4f4;}
.common-block p, .common-block dl {padding:10px;}

.common-block .quiet{color:#909090}

.cont-block {padding:0 10px 10px 10px;margin-top:10px;}

.box-yellow {
	background:#faf7e9;
	border:1px solid #e0dcd4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	padding:10px;
	box-shadow:0 2px 2px rgba(64, 64, 64, 0.2);
	color:#c25404;
}

.dialog-box{position: absolute; z-index:1002;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	box-shadow:0 0 5px rgba(32, 32, 32, 0.8);
}
.dialog-popup{position:relative;z-index:29;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
	border:1px solid #546075;
	background-color:#FFFFFF;
}
.dialog-content{
	padding:10px 0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;
}

.dialog-popup .dialog-title-bar{position:relative;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-o-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-o-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;

	background:#E4EAF6;
	background: -moz-linear-gradient(top, #EAEFF8, #D8E2F2);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#EAEFF8),color-stop(1,#D8E2F2));
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EAEFF8', EndColorStr='#D8E2F2')";
	border-bottom:1px solid #B6C3D7;
}
.dialog-popup .dialog-title-bar{height:36px;}
.dialog-popup .dialog-title-bar h2{padding-left:10px; font-size:14px; font-weight:700; height:36px; line-height:36px;}
.dialog-popup .dialog-title-bar a.close-dialog{ position:absolute;top:10px; right:12px; font-size:14px; font-weight:700; display:block; height:18px; width:18px; line-height:18px;}
.dialog-popup .dialog-title-bar a.close-dialog{text-decoration:none; color:#555555; text-align:center;}
.dialog-popup .dialog-title-bar a.close-dialog:hover{text-decoration:none; color:#333333}
.dialog-iframe-mask{position:absolute; left:0; top:0; border: none;}
.boxy-modal-blackout{position:absolute; left:0; top:0; background-color:#333; border: none;overflow:hidden; z-index:1001}


/*��¼*/
.loginKK{padding:20px;}
.loginemail,.loginpassword{background:none;padding:0}
.loginpassword{margin-top:18px;}
.login-btm-option {color:#b9b9b9; text-align:center;padding-top:20px;}

.login-btm-option a.ui-link{color:#06a; font-size:14px;}
.login-btm-option span{display:inline-block; padding:0 10px;}


/*��ҳ���ٷ���*/
.ushi_quick{}
.ushi_quick li{float:left; width:60px; height:80px; padding:10px; margin-left:14px;margin-right:10px}
.ushi_quick li a,.ushi_quick li span{display:block;text-align:center; color:#233a7c; font-size:14px; }
.ushi_quick li span{margin-top:5px;font-size:14px;}

.ushi_search{background:url(../images/ico_search.png) no-repeat left top; width:40px; height:37px;}


/*�һ�����*/
.ushi_success{background:url(../images/success.png) no-repeat left top; padding-left:30px; font-size:14px; line-height:1.9em;}

/*����΢�����ǻ*/
ul.selShareItem li{padding:15px;}
ul.selShareItem li .l{height:auto;}
.ushi_p_right{background:url(../images/ico_p_right.png) no-repeat left top; width:9px; height:13px; float:right; margin-top:10px;}

.share_weibo_or_event{ padding:0 0 30px 0}
.share_weibo_or_event li{ border-bottom:1px #dee6f0 solid;}
.share_weibo_or_event li a{ color:#333; display:block;padding:15px 10px;}

/*��μ�����ʿ*/
.howtojoin_ushi{ padding:15px 0 0 13px; line-height:24px;}
.howtojoin_ushi h4{ color:#233a7c}

/*ͨ�ð�ť*/
.ushi-special-btn{
	border:5px solid #fff;
	-webkit-border-image: url(../images/special_btn.png) 5 round stretch;
	-o-border-image: url(../images/special_btn.png) 5 round stretch;
	-moz-border-image: url(../images/special_btn.png) fill 5 round stretch;
	color:#fff;
	display:block; 
	text-align:center;
	font-weight:normal;
	text-shadow:1px 1px 0 #000;
	height:30px;
	font-weight:bold;
	line-height: 30px;
}

.ushi-common-btn{
	border:5px solid #fff;
	-webkit-border-image: url(../images/common-button.png) 5 round stretch;
	-o-border-image: url(../images/common-button.png) 5 round stretch;
	-moz-border-image: url(../images/common-button.png) fill 5 round stretch;
	color:#333;
	display:block; 
	text-align:center;
	font-weight:normal;
	text-shadow:1px 1px 0 #fff;
	height:29px;
	font-weight:bold;
	line-height: 29px;
}

.simple-search-list {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	border:1px solid #c8c8c8;
	background-color:#FFFFFF;
	padding:5px 0;
	position:absolute;
	width:210px;
}
.simple-search-list li {
	border-bottom:1px solid #c8c8c8;
	padding:6px 10px 5px 10px;
}
.simple-search-list li a {
	color:#06a
}
.simple-search-list li.ext-link {
	border:0;
	text-align:center;
	padding:8px 10px 7px 10px;
}
.search-noresult {
	text-align:center;
	padding-top:50px!important;
}

.degree-1,.degree-2,.degree-3 {background:url(../../common/images/icons_nav_grade.png) no-repeat; width:25px; height:20px; display:inline-block;}
.degree-1{background-position:right -600px;}
.degree-2{background-position:right -650px;}
.degree-3{background-position:right -700px;}

.pop-other-contact p {padding:10px 15px;}

.ushilogin .ui-bar-a{
	background:url(../images/bg_header_ushi.png) repeat-x left top;
	height:68px;
}

/* reset jqm commmon css */
.ui-corner-all, .ui-btn-corner-all {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
.ui-focus {
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
	font-size:14px;
}
.ui-btn-active {
	background-image: -moz-linear-gradient(top, #79a5d7, #4568a1) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#79a5d7),
		color-stop(1, 		#4568a1)) !important;
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#79a5d7', EndColorStr='#4568a1')";
  	color:#fff !important;
}
.ui-corner-top {
	-moz-border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-left-radius: 4px;
	-moz-border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	border-top-right-radius: 4px;
}
.ui-corner-bottom {
	-moz-border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-bottom-right-radius: 4px;
}
.ui-corner-left {
	-moz-border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-left-radius: 4px;
	-moz-border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-left-radius: 4px;
}
.ui-corner-right {
	-moz-border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	border-top-right-radius: 4px;
	-moz-border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-bottom-right-radius: 4px;
}

/** reset jqm css d **/
.ui-body-d {
	background:url(../images/bodybg.jpg) repeat-x left top;
	font:14px/150%;
	color:#333;
}
.ui-body-d .ui-content {
	padding:0;
}

.ui-bar-a {
	border:0;
	border-top:1px #4e6ea3 solid;
	color:#ffffff;
	text-shadow:2px 0 2px #000;
	overflow:hidden;
	height:47px;
  	background:url(../images/bg_header.png) repeat-x left top;
}
.ui-bar-a .ushilogo{
	display:inline-block;
	margin-top:10px;
}
.ui-bar-a .ushismalllogo{
	display:inline-block;
	margin-top:6px;
}

.ui-body-d .ui-link, .ui-bar-d .ui-link {
	color:#0066aa;
}
.ui-body-d input.ui-input-text, .ui-body-d textarea.ui-input-text {
	background:#FFF none!important;
	width:auto;
}

.ui-page .ushi-special-btn{
	color:#fff !important;
}
.ui-page .ushi-common-btn{
	color:#333 !important;
}
.ui-page .ushi-quiet-btn{
	color:#999 !important;
}



/******* ����jqm������� *******/
.ushi-text-cont {
	padding-bottom:10px;
	text-align:left;
}
.ushi-text-cont input.ui-input-text, .ushi-text-cont textarea.ui-input-text {
	width:96%;
	display:inline-block;
}

.ushi-search-cont {
	padding-bottom:10px;
	overflow:hidden;
	text-align:center;
}
.ushi-search-cont > * {
	display:inline-block;
	vertical-align:middle;
}
.ushi-search-cont input.ui-input-text, .ushi-search-cont textarea.ui-input-text {
	text-align:left;
	width:240px;
	margin:0 5px 0 0;
	display:inline-block;
	vertical-align:middle;
}
/*评论*/
.ushi-commend-tit{ height:31px; line-height:31px; background:url(../images/bg_commend_tit.jpg) repeat-x left top; padding-left:10px;}
.ushi-commend-tit h4{color:#000; font-weight:bold;}


/*直邮*/
.msgTitle{padding-bottom:10px; text-align:left; font-weight:bold;}

.ushi-small-special-btn, .ushi-small-common-btn{
	width:100px;
	display:inline-block;
	color:#fff!important;
	text-align:center;
	font-size:14px;
	height:20px;
	line-height:20px;
	text-shadow:none;
	border:5px solid #fff;
	-webkit-border-image: url(../images/ushi-small-special-btn.png) 5 round stretch;
	-o-border-image: url(../images/ushi-small-special-btn.png) 5 round stretch;
	-moz-border-image: url(../images/ushi-small-special-btn.png) fill 5 round stretch;
}
.ushi-small-common-btn{
	color:#333!important;
	-webkit-border-image: url(../images/ushi-small-common-btn.png) 5 round stretch;
	-o-border-image: url(../images/ushi-small-common-btn.png) 5 round stretch;
	-moz-border-image: url(../images/ushi-small-common-btn.png) fill 5 round stretch;
}

.ushi-smallest-special-btn, .ushi-smallest-common-btn{
	width:60px;
	display:inline-block;
	color:#fff!important;
	text-align:center;
	text-shadow:none;
	font-size:14px;
	line-height:20px;
	height:20px;
	border:3px solid #fff;
	-webkit-border-image: url(../images/ushi-smallest-special-btn.png) 3 round stretch;
	-o-border-image: url(../images/ushi-smallest-special-btn.png) 3 round stretch;
	-moz-border-image: url(../images/ushi-smallest-special-btn.png) fill 3 round stretch;
}
.ushi-smallest-common-btn{
	color:#333!important;
	-webkit-border-image: url(../images/ushi-smallest-common-btn.png) 3 round stretch;
	-o-border-image: url(../images/ushi-smallest-common-btn.png) 3 round stretch;
	-moz-border-image: url(../images/ushi-smallest-common-btn.png) fill 3 round stretch;
}

.ushi-write-a-msg{padding:10px;}
.ushi-write-a-msg-all-username{ padding-bottom:10px; text-align:left}
.ushi-mobile-error{background:url(../images/ushi-error.png) no-repeat left top; padding-left:60px;}

.ushi-viewed-msg{
	display:inline-block;
	color:#333!important;
	text-align:center;
	line-height:16px;
	font-size:10px;
	-webkit-border-image: url(../images/ico_new_msg_viewed.png) 0 5 0 5 stretch stretch;
	-moz-border-image: url(../images/ico_new_msg_viewed.png) 0 5 0 5 stretch stretch;
	-o-border-image: url(../images/ico_new_msg_viewed.png) 0 5 0 5 stretch stretch;
	border-width: 0 5px;
	height:16px;
	text-shadow:1px 1px 0 #fff;
	margin:5px 0 0 5px;	
}

.ushi-new-msg{
	color:#fff!important;
	text-align:center;
	line-height:20px;
	font-size:10px;
	-webkit-border-image: url(../images/ico_new_msg.png) 0 5 0 5 stretch stretch;
	-moz-border-image: url(../images/ico_new_msg.png) 0 5 0 5 stretch stretch;
	-o-border-image: url(../images/ico_new_msg.png) 0 5 0 5 stretch stretch;
	border-width: 0 7px 0 5px;
	height:20px;
	text-shadow:1px 1px 0 #333;
	margin:5px 0 0 5px;	
}

/*查看更多*/
.morelist{ height:30px; line-height:30px; text-align:center; margin-top:10px;}

.mobile-li-topage{background:url(../images/ico_p_right.png) no-repeat right center; padding-right:20px; margin-right:10px; cursor:pointer;}

/* 注册 */
.ui-btn-inner {padding-top:6px; padding-bottom:6px;}
.ui-select .ui-btn-inner {font-size:14px; padding:8px 40px 7px 12px !important;}
.ui-select .ui-btn-icon-right .ui-icon {right:12px !important;}
.ui-select .ui-shadow {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}
.ushi-ctrl-group2 .ui-controlgroup-controls {display:block !important;}
.ushi-ctrl-group2 .ui-select {width:50% !important;}

.clearfix:after {clear:both;}
.ushi-listview {margin:0.5em 0;}
.ushi-listview .ui-icon {
	background-color: #fff;
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}
.ushi-listview .ui-btn-up-d {background:#fff;}
.ushi-listview .ui-corner-top, .ushi-listview .ui-corner-bottom {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	border-radius: 0;
}

.ushi-text-form input.ui-input-text {width:100%; margin:10px 0;}

.add1d {background:url(../images/reg/ico_add1d.png) no-repeat; width:26px; height:28px; margin-top:7px;}
